defaults
    mode tcp
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

# Resolvers для динамического обновления DNS
resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s

# HAProxy Statistics
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

# PostgreSQL Write (только мастер)
listen postgres-write
    mode tcp
    bind *:5432
    option httpchk GET /health
    http-check expect status 200
    timeout check 10s
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-master pg-master:5432 maxconn 100 check port 8008

# PostgreSQL Read (мастер + слейв)
listen postgres-read
    mode tcp
    bind *:5433
    option httpchk GET /health
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    timeout check 10s
    server pg-master pg-master:5432 maxconn 100 check port 8008
    server pg-slave pg-slave:5432 maxconn 100 check port 8008

# FastAPI Application Cluster (две реплики)
listen fastapi
    mode http
    bind *:8000
    option httpchk GET /healthy
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 resolvers docker resolve-prefer ipv4
    server fastapi-app1 fastapi-app1:8000 check init-addr none
    server fastapi-app2 fastapi-app2:8000 check init-addr none
